<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/tabs/tab1">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{restaurant?.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img [src]="restaurant?.img">
        <ion-card-header style="text-align: center">
            <ion-card-title>{{restaurant?.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-list>
                        <ng-container *ngFor="let r of restaurant?.menu">
                            <ion-item>
                                <ion-col size="5">
                                    {{r.name}}
                                </ion-col>
                                <ion-col size="4">
                                    {{r.price}}
                                </ion-col>
                                <ion-col size="3">
                                    MKD
                                </ion-col>
                            </ion-item>
                        </ng-container>
                    </ion-list>
                </ion-row>
            </ion-grid>

        </ion-card-content>
    </ion-card>


</ion-content>
