<ion-header>
    <ion-toolbar>
        <ion-title>
            Information
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="text-align: center">
        <img src="../../assets/logo.png" style="height:40%;width: 40%">

    </div>
    <ion-item lines="none">
        <ion-label class="ion-text-wrap" style="text-align: justify">
            <b>EasyMeal</b> is the mobile application that can offer you location where you can eat, just by the click
            on the search bar and writing the name of your favorite food. <br> If you are a restaurant, hotel or any
            kind of
            public venue that offers food and wants to be a part of <b>EasyMeal</b> family , you can contact us on the
            mail:
            <b style="color: blue;text-decoration:underline;" (click)="openEmail()">easymeal@gmail.com</b> in order to start a collaboration.
            <br> You are welcome to send us your new daily
            menus every
            day or any time you want your menu to be changed
            in <b>EasyMeal</b>.
        </ion-label>
    </ion-item>


</ion-content>
