<ion-header>
    <ion-toolbar>
        <ion-item lines="none">
            <form novalidate [formGroup]="foodForm">
                <ion-input formControlName="food" placeholder="Search food"></ion-input>
            </form>

            <ion-buttons slot="end">
                <ion-button *ngIf="!clicked" (click)="searchFood()">
                    <ion-icon name="search"></ion-icon>
                </ion-button>
                <ion-button *ngIf="clicked" (click)="clearSearch()">
                    <ion-icon name="close"></ion-icon>
                </ion-button>

            </ion-buttons>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>
    <agm-map
            [latitude]="+latitude"
            [longitude]="+longitude"
            [zoom]="15"
            [scrollwheel]="true"
            [streetViewControl]="false"
            [disableDefaultUI]="true"
            [zoomControl]="false">

        <ng-container *ngIf="!clicked">
            <agm-marker
                    *ngFor="let m of restaurants; let i = index"
                    [latitude]="m.latitude"
                    [longitude]="m.longitude"
                    [label]="m.name">

                <agm-info-window>
                    <ion-card-title>{{m.name}}</ion-card-title>
                    <strong>Contact Phone: {{m.contact}}</strong><br>
                    <strong>Contact Email: {{m.email}}</strong>

                    <ion-button shape="block" color="primary" [routerLink]="['restaurant-details',m.id]">
                        View Menu
                    </ion-button>


                </agm-info-window>

            </agm-marker>
        </ng-container>
        <ng-container *ngIf="clicked">
            <agm-marker
                    *ngFor="let m of filteredRestaurants; let i = index"
                    [latitude]="m.latitude"
                    [longitude]="m.longitude"
                    [label]="m.name">

                <agm-info-window>
                    <ion-card-title>{{m.name}}</ion-card-title>
                    <strong>Contact Phone: {{m.contact}}</strong><br>
                    <strong>Contact Email: {{m.email}}</strong>

                    <ion-button shape="block" color="primary" [routerLink]="['restaurant-details',m.id]">
                        View Menu
                    </ion-button>


                </agm-info-window>

            </agm-marker>
        </ng-container>
        <agm-circle [latitude]="+latitude" [longitude]="+longitude"
                    [radius]="1000"
                    [fillColor]="'blue'"
                    [circleDraggable]="false"
                    [editable]="false">
        </agm-circle>
    </agm-map>
</ion-content>
